html,body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        position: relative;
    left: 0%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


    

                             /*NAVBAR*/

/*===================================================================*/
.navbar-brand{
font-size: 25px;
color: rgb(255, 255, 255) !important;
}

.nav-link{

    font-size: 20px;
    margin-right: 35px;
    color: rgb(255, 255, 255) !important;


}

.nav-link:hover{
    background-color: rgb(39, 39, 39);
}
.navbar-toggler{
    outline: none !important;
}

#navBAr{
    position: fixed;
    top: 0 !important;
    width: 100%;
    background:black !important;
}

/*===================================================================*/


/*FOOTER*/


.footer-container{

   
    background-color: rgb(0, 0, 0);
    font-family: Allerta Stencil;
    bottom: 0%;
    position: relative;
    min-height: 100%;
    left: 0%;

}


.intro{
    text-align: center;
    color: white;
    padding: 2px;
    display: flex;
}

ul{
    list-style: none ;
    cursor: pointer;
}


.AdminBtn{
    margin-left: 10px;
    margin-top: 3px;
    border: solid white 1px;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
}





.copyRight{
    color: white;
    background-color: rgb(27, 27, 27);
   padding:5px;
   bottom: 0%;
   width: 100%;
   height: auto;
    
}
.copyRight >p{
    text-align: center;
    font-family: Allerta Stencil;
}
.quickLINK >p{
text-align: center;
color: white;
font-size: 20px;
font-family: Allerta Stencil;
}
.quickLINK > pre{
    text-align: center;
    color: white;
    font-family: Allerta Stencil;
}
a{
    text-decoration: none !important;
}

/*===================================================================*/

/* HOME PAGE    */

.bodu{
    padding-top: 180px;
}

.socialMedia{
    display: flex;
    margin-left: 40px;
    
}


.form-inline{
    margin-top: 30px;
    margin-left: 40px;
    
}


.btn{
    border-radius: 10px !important;
    background: rgb(98, 180, 160);
    color: white;
}
.card-group1{
    margin : 20px 20px;
    display:flex;
    flex-wrap: wrap !important;
    
    
    
}

.card1{

    margin: 30px 20px;
    height: auto;
    cursor: pointer;
    width: 30%;
    border-radius: 25px;
    background-color: rgb(199, 207, 207);
    transition: 0.3s;
    display: flex;
    
    
    
}
.card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
  }

.titleOfPost{
    background-image: linear-gradient(to bottom right, rgb(19, 66, 63), rgb(15, 155, 211));
    color: white;
    margin: 0%;
    padding: 20px;
    font-family: Allerta Stencil;

}
.card-body1{
    
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-align: center;

}

.card-button{
    padding: 5px;

    cursor: pointer;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(to bottom right, rgb(19, 66, 63), rgb(15, 155, 211));
    border-radius: 5px;

    
}

.post1{
    padding: 5px 20px;
    text-align:left;
    margin-top: 10px;
    overflow:hidden;
    height:90px;
}






/*=================================================================*/

/* ASK PAGE  */

.AskLabel{

    font-weight: bold;
    font-size: 30px;
    
    
}
.form-control{

    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    border: black solid 1px;
}

.submitBtn{
    font-size: 20px;
    border-radius: 10px;
    border: solid black 1px;
    padding: 5px 20px;
    margin-bottom: 30px;
    outline: none;
    cursor: pointer;

}
.formforask{

    margin-top: 30px;
    margin-bottom: 400px;
}

/*==================================================================*/

/* ABOUT  */

.photoOfMe{
    height: 330px; 
    margin-top: 50px ;
}

.containerforabout{
    margin-top: 30px;

    text-align: center;
}


/*  features  */


.imageOffeatures{

   
    width: 100%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}


/*        =========================================*/
                       /* DYNAMIC ROUTE */

.postTitle {
    margin-top: 40px;
    font-family: Allerta Stencil;
    font-size: 45px;
    text-align: center;
    color: rgb(16, 120, 129);
    padding: 0px 20px;

    
}
.time{
    
    
    text-align:center;
    margin-top:20px;  
    font-style:italic;
    color: rgb(16, 120, 129);
     width:100%;
     font-size: 20px;
     font-weight: lighter !important;
     opacity: 50%;
}

.description{

    text-align: end;
    padding:30px;
    font-size: 20px;
    font-family:Allerta Stencil ;
    margin-right: 10px;
   
    

}
/* .postdetail{
   
   
    color:rgb(0, 0, 0);
    text-align: left;
    padding:20px;
    margin: 30px 600px;
    font-size: 25px;
    
    height: auto;
    justify-content: center;
    
    

} */

.photo{

    margin-right: 0%;
    justify-content: end;
    width: 200px;
    height: 200px;
   
    border-radius: 20px;
}

.name{

    text-align: end;
    font-size: 20px;
}

.postInfo{

            overflow-x: auto;
            /* white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word; */
            font-family: Adamina;
            line-height: 50px;
            color:rgb(0, 0, 0);
            text-align: left;
            padding:20px;
            margin: 5px 500px;
            font-size: 25px;
}



/*=======login-=============*/

.containers{
    margin-left:20px;
    margin-right:20px;
    border:1px solid ;
}


/*=============================================================*/


              /* ========MEDIA QUERY=======*/



@media screen and (max-width: 1400px){


/*==================ask=======================*/



    /*============about===============*/

    .photoOfMe{
        height: 200px;
        width: 200px; 
        margin-top: 50px ;
    }



/*===================HOME PAGE=====================*/

.containers{
    margin-left:20px;
    margin-right:20px;
    border:1px solid ;
}
.bodu{
    padding-top: 160px;
}

    .form-inline{
        margin:10px 20px ;
        font-size: 10px;
        
    }
    

    .card-group1{
        margin : 20px 10px;
        display:flex;
        flex-wrap: wrap !important;
        
        
        
    }
    
    .card1{
    
        margin: 10px 10px;
        height: auto;
        cursor: pointer;
        width: 100%;
        border-radius: 25px;
        background-color: rgb(199, 207, 207);
        transition: 0.3s;
        display: block;
        
        
        
    }

    .card1:hover {
        transform: scale(1.02);
        box-shadow: 0px 5px 10px rgb(0, 0, 0);
      }
    .titleOfPost{
        background-image: linear-gradient(to bottom right, rgb(19, 66, 63), rgb(15, 155, 211));
        color: white;
        margin: 0%;
        padding: 10px;
        font-family: Allerta Stencil;
    
    }
    .card-body1{
        
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        text-align: center;
    
    }
    
    .card-button{
        padding: 5px;
        cursor: pointer;
        color:rgb(255, 255, 255);
        background-image: linear-gradient(to bottom right, rgb(19, 66, 63), rgb(15, 155, 211));
        border-radius: 5px;
    
        
    }
    
    .post1{
        padding: 5px 10px;
        text-align:left;
        margin-top: 7px;
    }



/*======================FOOTER==================================*/

    
/*FOOTER*/


.footer-container{

    width: 100%;
    background-color: rgb(0, 0, 0);
    bottom:0;
    left: 0%;
    right: 0%;
    position: relative;
    display: flex;
    font-family: Allerta Stencil;
}


ul{
    list-style: none ;
    cursor: pointer;
    width: 100%;
    
}

.copyRight{
    bottom:0%;
    left: 0%;
    right: 0%;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(75, 75, 75);
    
    
}
.copyRight > p{
    font-size: 10px;
    text-align: left;
    padding-left: 15px;
}
.AdminBtn{
    margin-left: 10px;
    margin-top: 3px;
    border: solid white 1px;
    font-size: 10px;
    padding: 3px;
}



.copyRight{
    color: white;
    background-color: rgb(27, 27, 27);
}
.copyRight >p{
    text-align: center;
    font-family: Allerta Stencil;
}
.quickLINK >p{
text-align: center;
color: white;
font-size: 15px;
font-family: Allerta Stencil;
}
.quickLINK > pre{
    text-align: center;
    text-decoration: none !important;
    color: white;
    font-family: Allerta Stencil;
    font-size: 10px;
}



/*=============dynamic route================*/



.postTitle {
    margin-top: 40px;
    font-family: Allerta Stencil;
    font-size: 25px;
    text-align: center;
    color: rgb(16, 120, 129);
    padding: 0px 10px;
}
.time{


    text-align:center;
    margin-top:10px !important ;
    font-style:italic;
    color: rgb(16, 120, 129);
     font-weight: lighter !important;
    font-size: 15px;
    margin:0% 0%;
    opacity: 50%;

}

.description{

    text-align: end;
    padding:30px;
    font-size: 20px;
    font-family:Allerta Stencil ;
    margin-right: 10px;
   
    

}
.postdetail{
   
   
    color:rgb(0, 0, 0);
    text-align: left;
    padding:10px;
    font-size: 15px;
    height: auto;
    margin: 10px 20px;
    justify-content: center;
    font-family: Adamina;
    line-height: 35px;
    
    

}

.photo{

    margin-right: 0%;
    justify-content: end;
    width: 100px;
    height: 100px;
   
    border-radius: 20px;
}

.description > label{
    font-size: 15px;
    
}
.name{

    text-align: end;
    font-size: 10px;
}

.postInfo{

            overflow-x: auto;
            /* white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap; */
            word-wrap: break-word;
            padding: 8px;
            line-height: 40px;
            color:rgb(0, 0,0);
            text-align: left;
            
            margin: 20px 5px;
            font-size: 17px;
            height: auto;
}

/*=========================nabvar===========================*/
.nav-link{

    font-size: 15px;

}


}




